# MongoDB Configuration
MONGO_URI=mongodb+srv://fintech_user:fintech@fintechcluster.7yexyva.mongodb.net/?appName=fintechcluster

# JWT Secret (Generate: openssl rand -hex 32)
JWT_SECRET_KEY=56c867c8bc47815887438432f87e08461e582fd7a886d69854d6af5f7664b73c516fbf1c52ebd530dc6ed7aac5e6817c36672c57ab19f4360d1467df6f43fa10

# Fernet Key (Generate: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=Lv24oaXrGe2JacbPl-8Y_JkcFFoH2ks7TQg8JaO4Wcs=

# Gemini API key
GEMINI_API_KEY=AIzaSyBdWkPN7LBDjREfMNPGO1hqCp6TGB2zTxQ

# Port
PORT=5000
