Flask==2.2.5
flask-jwt-extended==4.6.0
pymongo==4.6.0
cryptography==3.4.8
python-dotenv==1.0.0
flask-cors==4.0.0
requests==2.30.0
gunicorn==21.2.0
# for verifying Google ID tokens
google-auth==2.23.0
